﻿<script>
	
	function chetNechet(a,b){
		do{	
			if (a!=0){
				switch (a%2){
				case 0:
					document.write(a+" - четное число<br>");
					break;
				case 1:
					document.write(a+" - нечетное число<br>");
				}
			}
			else 
				document.write(a+" - это ноль<br>");
			a++;
		} while (a <= b);
	}
	
	chetNechet(0,10);
</script>  